/* body {
  background-color: purple;
} */

table {
  width: 100%;
}
table, th, td {
  border: 1px solid black;
}

thead {
  background-color: gray;
}

tbody {
  background-color: red;
}

td {
  text-align: center;
}
